extends home
block extraHeader
    link(rel="stylesheet", href="static/css/contacts.css")
block body-content
    #form-main
        #form-div
            form#form1.form(action='mailto:lilibabacheva@gmail.com', method='post', enctype='text/plain', role='form')
                p.name
                    input#name.feedback-input(name='name', type='text', class='validate[required,custom[onlyLetter],length[0,100]]', placeholder='Name')
                p.email
                    input#email.feedback-input(name='email', type='text', class='validate[required,custom[email]]', placeholder='Email')
                p.text
                    textarea#comment.feedback-input(name='text', class='validate[required,length[6,300]]', placeholder='Comment')
                .submit
                    input#button-blue(type='submit', name='submit' value='Изпрати')
                    .ease
