extends home

block body-content
    br
    br
    br
    .contacts-panel.panel.panel-default
        .panel-heading
            h3 Team Express 6 - Telerk
        .panel-body
            strong Lamma
            a.btn.btn-info(href='http://telerikacademy.com/Users/Lamma') Lilyana Babacheva

    .panel.panel-default
        .panel-heading
            h3 Contact us
        .panel-body.contact-form
            form#contact.form(action='mailto:lilibabacheva@yahoo.com', method='post', enctype='text/plain', role='form')
                .row
                    .col-xs-6.col-md-6.form-group
                        input#name.form-control(name='name', placeholder='Name', type='text', required='', autofocus='')
                    .col-xs-6.col-md-6.form-group
                        input#email.form-control(name='email', placeholder='Email', type='email', required='')
                textarea#message.form-control(name='message', placeholder='Message', rows='5')
                br
                .row
                    .col-xs-12.col-md-12.form-group
                        input.submit-cintact.btn.btn-primary(type='submit', name='submit', value='Submit')
                        a.btn.btn-info(href='/')
                                span.glyphicon.glyphicon-remove(aria-hidden='true')
                                |  back to home