extends home
block extraHeader
    style.
        article, aside, figure, footer, header,
        menu, nav, section {
            display: block;
        }
block body-content
    .container
        .row.main
            .main-login.main-center
                br
                h2(class="form-register-heading")
                    | Добавяне на нова квартира:

            form(action="/addflat" class="form-addflat" method="post")
                .form-group
                    label.cols-sm-2.control-label(for='username') Username
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-user.fa(aria-hidden='true')
                            input#username.form-control(type='text', name='username', readonly=true, value=user.username)
                .form-group
                    label.cols-sm-2.control-label(for='title') Заглавие
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-user.fa(aria-hidden='true')
                            input#title.form-control(type='text', name='title', placeholder="Заглавие")
                .form-group
                    label.cols-sm-2.control-label(for='startDate') От дата
                    .cols-sm-6
                        .input-group
                            span.input-group-addon
                                i.fa.fa-calendar.fa(aria-hidden='true')
                            input#startDate.form-control(type='text', name='startDate', placeholder="Дата")
                .form-group
                    label.cols-sm-2.control-label(for='endDate') До дата
                    .cols-sm-6
                        .input-group
                            span.input-group-addon
                                i.fa.fa-calendar.fa(aria-hidden='true')
                            input#endDate.form-control(type='text', name='endDate', placeholder="Дата")
                .form-group
                    label.cols-sm-2.control-label(for='location') Квартал
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-map-marker.fa(aria-hidden='true')
                            input#location.form-control(type='text', name='location', placeholder="квартал")
                .form-group
                    label.cols-sm-2.control-label(for='neededMates') Квартира за (брой съквартиранти):
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-users.fa-lg(aria-hidden='true')
                            input#neededMates(name='neededMates', placeholder='брой съквартиранти')
                .form-group
                    label.cols-sm-2.control-label(for='price') Наем на месец:
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-users.fa-lg(aria-hidden='true')
                            input#price(name='price', placeholder='наем в лева')
                .form-group
                    label.cols-sm-2.control-label(for='content') Съдържание:
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-keyboard-o.fa-lg(aria-hidden='true')
                            textarea#content.form-control(name='content', placeholder='Enter your content')

                .form-group
                    label.cols-sm-2.control-label(for='img') Снимка:
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-keyboard-o.fa-lg(aria-hidden='true')
                            input#img.form-control(name='img', placeholder='Enter your згдшд')

                .form-group
                button(class="btn btng btn-primary btn-block" type="submit")
                    | Добави квартира
                br
