<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href='static/css/main.css')
    styles
    head_scripts

    title Find roommate
body.not404img
    div.error-container.col-sm-offset-3
        h1.error-title
            | This page not exist!
        a.col-sm-offset-2(href="/home") Go to Home page