extends home
block body-content
    body.not404img
        div.error-container.col-sm-offset-3
            h1.error-title
                | This page not exist!
            a.col-sm-offset-2(href="/") Към начална страница