extends home
block body-content
    br
    h1
    | Квартири, очакващи своите хора
    br
    each flat in context
        .container
            .row
                .col-sm-4.col-md-4
                    .post
                        .post-img-content
                            img.img-responsive(src='http://placehold.it/460x250/e67e22/ffffff&text=HTML5')
                            span.post-title
                                b #{flat.title}
                                br
                        .content
                            .author
                                | От:
                                b #{flat.username}
                                |  |
                                time(datetime='2014-01-20') January 20th, 2014
                            div
                                 p
                                     | #{flat.content}
                            div
                                a.btn.btn-warning.btn-sm(href='http://www.jquery2dotnet.com/2014/01/jquery-highlight-table-row-and-column.html') Read more
        br

    //        .col-sm-4.col-md-4
    //            .post
    //                .post-img-content
    //                    img.img-responsive(src='http://placehold.it/460x250/2980b9/ffffff&text=CSS3')
    //                    span.post-title
    //                        b Make a Image Blur Effects With
    //                        br
    //                        b CSS3 Blur
    //                .content
    //                    .author
    //                        | By
    //                        b Bhaumik
    //                        |  |
    //                        time(datetime='2014-01-20') January 20th, 2014
    //                    div
    //                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
    //                        | Ipsum has been the industry's standard dummy text ever since the 1500s, when an
    //                        | unknown printer took a galley of type and scrambled it to make a type specimen book.
    //                    div
    //                        a.btn.btn-primary.btn-sm(href='http://www.jquery2dotnet.com/2013/11/share-social-media-round-buttons.html') Read more
    //        .col-sm-4.col-md-4
    //            .post
    //                .post-img-content
    //                    img.img-responsive(src='http://placehold.it/460x250/47A447/ffffff&text=jQuery')
    //                    span.post-title
    //                        b Make a Image Blur Effects With
    //                        br
    //                        b CSS3 Blur
    //                .content
    //                    .author
    //                        | By
    //                        b Bhaumik
    //                        |  |
    //                        time(datetime='2014-01-20') January 20th, 2014
    //                    div
    //                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
    //                        | Ipsum has been the industry's standard dummy text ever since the 1500s, when an
    //                        | unknown printer took a galley of type and scrambled it to make a type specimen book.
    //                    div
    //                        a.btn.btn-success.btn-sm(href='http://www.jquery2dotnet.com/2013/07/cool-social-sharing-button-using-css3.html') Read more
    //