body {
    background: url('../imgs/sofa-wallpaper.jpg');
    opacity: 0.8;
    background-size: cover;
    color: black;
    font-weight: bold;
    position: relative;
}

.not404img{
    background: url('../imgs/404.jpg');
}

h1.error-title {
    font-size: 66px;
    font-weight: bolder;
}

.error-container a{
    font-size: 30px;
}

li {
   color: white;
}

a, u {
    text-decoration: none !important;
}
#content {
    height: 250px;
}
input, textarea, button {
    color: black;
}

body li{
    color: black;
}