body {
    background: url('../imgs/friends-wall.jpg');
    color: white;
}

.not404img{
    background: url('../imgs/404.jpg');
}

h1.error-title {
    font-size: 66px;
    font-weight: bolder;
}

.error-container a{
    font-size: 30px;
}

li {
   color: white;
}