.navbar-default{
    color: #fff;
    background-color: #ccc6c6;
    border-color: #aca1a2;
}
.navbar-default .navbar-nav > li > a{
    color:#fff;
}
nav.navbar.navbar-fixed-top.navbar-collapse{
    background-color: rgba(105,105,105, 0.4);
    color: white;
    float: right;
}
a{
    color: white;
}
#bs-example-navbar-collapse-2{
    display: inline-block;
    float: right;
    text-align: right;
    list-style-type: none;
}