extends ../home

block body-content
    br
    br
    div(id="profile-wrapper" class="container")
        ul(class="nav nav-tabs" id="profile-tabs")
            li(id="third-tab")
                    a(href="/user/" + result.userDetails.username + "/update") Промени профила
        div(id="prfile-info" class="profile-tab")
            h2(class="text-center" id="username")
                #{result.user.username}
            h3(class="text-center")
            div(id="profile-pic-container")

            div(id="personal-info")
                strong
                    | Име: #{result.user.name}
                br
                strong
                    | Еmail: #{result.user.email}
                br
                strong
                    | Username: #{result.user.username}
                br
