<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/public/css/main.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    title Find roommate
block body
    header.container
        div
            nav.navbar.navbar-fixed-top.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            div Начало

                            li
                                div Моят профил
                            li
                                div Съобщения
                            li
                                div Намери съквартирант

                            li
                                div Моите заявки



    main
        block body-content
